<p class="lead">Congratulations! arkOS was installed successfully.</p>
<p>Insert the SD card {{#if isSplitBoot}}and USB drive {{/if}}into your <strong>{{ selectedHardware.name }}</strong> and connect it to your router or access point. After a minute or so, click <strong>Next</strong> then <strong>Search Network</strong> to find your newly-installed device, connect to it and continue its setup.</p>
<p>Your initial Genesis login credentials are:<br />Username: <strong>admin</strong><br />Password: <strong>admin</strong></p>
<p><em><a href="#" {{action 'removeDownloadedFiles'}}>Click here to remove the files downloaded to your computer during the install process.</a></em></p>
