<p>This wizard will guide you through the steps of installing arkOS to a connected SD card or USB drive, which can subsequently be used to run arkOS on a supported hardware device.</p>
<p>Click Next to proceed.</p>
