<div class="aa-main-page">
  <div class="container">
    <div class="text-center">
      <img class="aa-main-logo" src="img/logo-arkos-white.svg" />
    </div>
    <hr />
    <table class="aa-main-menu">
      <tr class="aa-main-button" {{action 'openPage' 'install.start'}}>
        <td><h3 class="aa-main-button-header">Install arkOS</h3><p class="aa-main-button-text">Downloads an arkOS disk image for writing to a connected SD card and/or USB drive.</p></td>
        <td class="aa-main-button-icon"><i class="fa fa-fw fa-4x fa-download"></i></td>
      </tr>
      <tr class="aa-main-button" {{action 'openPage' 'search'}}>
        <td><h3 class="aa-main-button-header">Search Network</h3><p class="aa-main-button-text">Scan your local network for arkOS servers and get basic information.</p></td>
        <td class="aa-main-button-icon"><i class="fa fa-fw fa-4x fa-search"></i></td>
      </tr>
      <tr class="aa-main-button" {{action 'exitApp'}}>
        <td><h3 class="aa-main-button-header">Exit</h3><p class="aa-main-button-text">Exit the arkOS Assistant.</p></td>
        <td class="aa-main-button-icon"><i class="fa fa-fw fa-4x fa-sign-out"></i></td>
      </tr>
    </table>
  </div>
</div>
